---
---

@import 'bourbon/bourbon'

$rs: 16px
$font-serif: Linux Libertine
$font-sans: Open Sans, MundoSans, "Helvetica Neue", Arial, Helvetica, sans-serif


@mixin respond-to($breakpoint)
  @media only screen and (max-width: $breakpoint + px)
    @content

main
  display: block

body
  font-family: $font-sans
  margin: 0
  padding: 0
  -webkit-font-smoothing: antialiased
  -moz-font-feature-settings: "liga=1, dlig=1"
  -webkit-font-feature-settings: "liga", "dlig"
  -o-font-feature-settings: "liga", "dlig"
  font-feature-settings: "liga", "dlig"

.content
  width: 100%
  max-width: 800px
  margin: 0 auto
  @include respond-to(800)
    padding: 0 $rs*2

.post
  .noarticleimage
    .post-meta
      font-family: $font-serif
      padding-top: 30px
    .post-title
      width: 100%
      font-weight: 700
      font-style: normal
      letter-spacing: -0.04em
      font-size: 50px
      line-height: 1.1
      color: #333332
      margin-bottom: 16px
    .author-image
      display: inline-block
      width: 30px
      height: 30px
      line-height: 30px
      margin-right: 8px
      margin-bottom: -10px
      float: left
      background-size: cover
      border-radius: 100%
      text-indent: -9999px
    .author-name
      display: inline
    .post-meta-text
      color: #b3b3b1
      letter-spacing: -0.02em
      font-weight: 400
      font-style: normal
      font-size: 14px
      overflow: hidden
      font-family: $font-sans
      white-space: nowrap
      text-overflow: ellipsis
  .post-content
    width: 100%
    font-family: $font-serif
    color: #333
    h1, h2, h3
      font-family: $font-serif
    h3, h4, h5, h6
      letter-spacing: -0.02em
      font-weight: 700
      font-style: normal
      font-size: 24px
      line-height: 1.3
      font-family: $font-serif
      margin: 0 0 4px
    h2, h1
      letter-spacing: -0.02em
      font-weight: 700
      font-style: normal
      font-size: 32px
      line-height: 1.2
      padding-top: 31px
      margin-bottom: 4px
    p
      font-weight: 400
      font-style: normal
      font-size: 22px
      line-height: 30px
      margin: 0
      padding-bottom: 30px
      color: #333
      -webkit-hyphens: auto
      -moz-hyphens: auto
      hyphens: auto
    a
      color: #333
      text-decoration: underline
    img
      max-width: 100%
      display: block
      margin-left: auto
      margin-right: auto
    figure
      margin: 0
      padding: 0 0 30px
    figcaption
      font-weight: 400
      font-style: italic
      font-size: 16px
      line-height: 1.3
      color: #666665
      outline: 0
      z-index: 300
      text-align: center
    hr
      padding: 0
      display: block
      width: 15%
      margin: 10px auto
      border: 0 solid #ddd
      border-top: 1px solid #ddd
    blockquote
      margin: 0 0 30px -26px
      border-left: 3px solid #57ad68
      padding-left: 20px
      p
        letter-spacing: 0.01rem
        font-weight: 400
        font-style: italic
        padding-bottom: 3px
    ul, ol
      padding: 0 0 30px
      margin: 0
    li
      font-weight: 400
      font-style: normal
      font-size: 23px
      line-height: 30px
      margin-left: 30px
      margin-bottom: 12px
      padding: 2px 0 0
    ol li
      list-style-type: decimal

#disqus_thread
  margin-top: 50px
