---
layout: default
permalink: /articles/
title: Artículos - Nahuel Brandán
---

<main class="page projects-page">
  <section class="portfolio-block projects-cards" style="padding: 1em;">
    <div class="container">
      <div class="heading">
        <h2 class="text-capitalize" style="font-weight: 500;">Artículos</h2>
      </div>
      <div class="row">
        {%for post in site.posts%}
        {%if post.categories[0] != "Portfolio"%}
        <div class="col-md-6 col-lg-4">
          <div class="card border-0">
            <a href="{{ post.url | prepend: site.baseurl }}">
              <img class="card-img-top scale-on-hover" src={{post.image}} alt={{post.image}} title="{{post.title}}">
            </a>
      
            {%if post.hide_title != true%}
            <div class="card-body">
              <h6><a href="{{ post.url | prepend: site.baseurl }}">{{post.title}}</a></h6>
            </div>
            {% endif%}
          </div>
        </div>
        {% endif%}
        {% endfor %}
      </div>
    </div>
  </section>
</main>
