---
layout: default
permalink: /blog/
title: Blog - Nahuel Brandán
---

<main class="page projects-page">
  <section class="portfolio-block" style="padding: 1em;">
    <div class="container">
      <div class="heading">
        <h2 class="text-capitalize" style="font-weight: 500; padding-top: 30px;">Entradas</h2>
      </div>
      
        <ul>
          {%for post in site.posts%}
          {%if post.categories contains "Blog"%}
          <li>
            <h4 class="item">
              <a class="text-dark" href="{{ post.id | prepend: site.baseurl }}">{{post.title}}</a>
            </h4>
          </li>
          {% endif%}
          {% endfor %}
        </ul>
    </div>
  </section>
</main>
