---
layout: default
permalink: /articles/
---

<div class="teaserimage">
  <div class="teaserimage-image" {% if site.cover %}style="background-image: url({{ site.cover | prepend: site.baseurl }})" {% endif %}>
    Teaser Image
  </div>
</div>

<header class="blog-header">
  {% if site.author_image %}
    <a class="blog-logo" href="{{ "/" | absolute_url }}" style="background-image: url('{{ site.author_image | prepend: site.baseurl }}')">{{ site.title }}</a>
  {% endif %}
  <h1 class="blog-title">{{ site.title }}</h1>
  <!--<h2 class="blog-description">{{ site.description }}</h2>-->
  <div class="custom-links">
    {% for social in site.social %}
      {% if social.url %}
        <a class="icon-{{ social.icon }}" href="{{ social.url }}" {% if social.desc %} title="{{ social.desc }}" {% endif %}">
          <i class="fa fa-{{ social.icon }}"></i>
        </a>
        &nbsp;&nbsp;·&nbsp;&nbsp;
      {% endif %}
    {% endfor %}
    <a href={{"/about/" | prepend: site.baseurl}}>Sobre mi</a>&nbsp;&nbsp;·&nbsp;&nbsp;
    <a href={{"/archive/" | prepend: site.baseurl}}>Archivo</a>&nbsp;&nbsp;·&nbsp;&nbsp;
    <a href={{"/portfolio/" | prepend: site.baseurl}}>Portfolio</a>&nbsp;&nbsp;·&nbsp;&nbsp;
    <a href={{"/articles/" | prepend: site.baseurl}}>Artículos</a>&nbsp;&nbsp;·&nbsp;&nbsp;
    <a class="icon-home" href='/' title="Home">
      <i class="fa fa-home"></i>
    </a>
  </div>
</header>

<div class="container">
  <div class="row">
    {%for post in site.posts%}
      {%if post.categories[0] != "Portfolio"%}
          <div class="col-md-4">
            <div class="thumbnail">
              <a href="{{ post.url | prepend: site.baseurl }}" itemprop="url">
                <img src="/assets/images/blank.png" data-echo={{post.image}} alt={{post.image}}>
                <h3>{{post.title}}</h3>
              </a>
              <div class="post-meta">
                <span class="post-date">{% include date_ge.html date = post.date %}</span>
              </div>
            </div>
          </div>
      {%endif%}
    {%endfor%}
  </div>
</div>
