---
layout: default
---

<div class="teaserimage">
  <div class="teaserimage-image" {% if site.cover %}style="background-image: url({{ site.cover | prepend: site.baseurl }})" {% endif %}>
    Teaser Image
  </div>
</div>

<header class="blog-header">
  {% if site.author_image %}
    <a class="blog-logo" href="{{ "/" | absolute_url }}" style="background-image: url('{{ site.author_image | prepend: site.baseurl }}')">{{ site.title }}</a>
  {% endif %}
  <h1 class="blog-title">{{ site.title }}</h1>
  <!--<h2 class="blog-description">{{ site.description }}</h2>-->
  <div class="custom-links">
    {% for social in site.social %}
      {% if social.url %}
        <a class="icon-{{ social.icon }}" href="{{ social.url }}" {% if social.desc %} title="{{ social.desc }}" {% endif %}" target="_blank">
          <i class="fa fa-{{ social.icon }}"></i>
        </a>
        &nbsp;&nbsp;·&nbsp;&nbsp;
      {% endif %}
    {% endfor %}
    <a href={{"/about/" | prepend: site.baseurl}}>Sobre mi</a>&nbsp;&nbsp;·&nbsp;&nbsp;
    <a href={{"/archive/" | prepend: site.baseurl}}>Archivo</a>&nbsp;&nbsp;·&nbsp;&nbsp;
    <a href={{"/portfolio/" | prepend: site.baseurl}}>Portfolio</a>&nbsp;&nbsp;·&nbsp;&nbsp;
    <a href={{"/articles/" | prepend: site.baseurl}}>Articulos</a>&nbsp;&nbsp;·&nbsp;&nbsp;
    <a href={{"/" | prepend: site.baseurl}}>Home</a>
  </div>
</header>

<div class="container">
  <div class="row">

    <div class="col-md-6 mb-3">
      <div class="thumbnail">
        <a href={{"/portfolio/" | prepend: site.baseurl}} itemprop="url">
          <img src="/assets/images/home/option1.jpg" class="img-fluid z-depth-1" alt="Portfolio">
          <p>Portfolio</p>
        </a>
        <div class="black_overlay"></div>
      </div>
    </div>

    <div class="col-md-6 mb-3">
      <div class="thumbnail">
        <a href={{"/articles/" | prepend: site.baseurl}} itemprop="url">
          <img src="/assets/images/home/option2.jpg" class="img-fluid z-depth-1" alt="Articulos">
          <p>Artículos</p>
        </a>
      </div>
    </div>

    <div class="col-md-6 mb-3">
      <div class="thumbnail">
        <a href={{"/about/" | prepend: site.baseurl}} itemprop="url">
          <img src="/assets/images/home/option3.jpg" class="img-fluid z-depth-1" alt="Sobre Mi">
          <p>Sobre Mi</p>
        </a>
      </div>
    </div>

    <div class="col-md-6 mb-3">
      <div class="thumbnail">
        <a href="{{ site.cv }}" itemprop="url" target="_blank">
          <img src="/assets/images/home/option4.jpg" class="img-fluid z-depth-1" alt="Curriculum Vitae">
          <p>Curriculum Vitae</p>
        </a>
      </div>
    </div>

  </div>
</div>
