---
layout: default
permalink: /
pageid: index
lang: es
---

<main class="page landing-page">
  <section class="portfolio-block block-intro" style="padding-top: 50px; padding-bottom: 0;">
    <div class="container">
      <div class="row justify-content-center">

        <div class="border rounded-circle border-primary shadow-sm avatar" data-bs-hover-animate="pulse"
             style="background: url(assets/img/personal/me.webp); background-size: cover; width: 20em; height: 20em;">
        </div>

        <div class="about-me d-flex align-items-center">
          <p>Hola! Soy&nbsp;<strong>Nahuel Brandán</strong>.<br>
            Soy Desarrollador de Software Backend.<br> Especializado en el ecosistema
            <strong>Python</strong>.<br>
            Resolutivo. Afortunado. Nunca parando de aprender.
          </p>
        </div>

      </div>
    </div>
  </section>

  <section data-aos="fade-up" class="portfolio-block photography" style="padding: 0 0">
    <main class="page projects-page">
      <section class="portfolio-block projects-cards" style="padding-top: 0; padding-bottom: 1em;">
        <div class="container" style="padding: 0 !important;">
          <div class="heading" style="margin-bottom:30px; !important;">
            <h2 class="text-capitalize" style="font-weight: 500; padding-top: 30px">Experiencias</h2>
          </div>
          <div class="row">

            {% for category in site.categories %}
            {% if category contains "Portfolio" %}
            {% for post in category[1] %}
            {% if post.lang == page.lang and post.showInIndex %}
            <div class="col-md-6 col-lg-4">
              <div class="card border-1">
                <a href="{{ post.id | prepend: site.baseurl }}"><img class="card-img-top scale-on-hover"
                                                                     src={{post.image}}
                                                                     alt={{post.image}}
                                                                     title="{{post.title}}"></a>
                <div class="card-body">
                  <h6><a href="{{ post.id | prepend: site.baseurl }}">{{post.short_title}}</a></h6>
                  <h6><a href="{{ post.id | prepend: site.baseurl }}">{{post.subtitle}}</a></h6>

                  {% if post.tags %}
                  <small>
                    {% for tag in post.tags %}
                    {{tag}}
                    {% if tag != post.tags.last %}, {%else%}.{%endif%}
                    {%endfor%}
                  </small>
                  {% endif %}
                </div>
              </div>
            </div>
            {% endif %}
            {% endfor %}

            {% endif%}
            {% endfor %}
          </div>

          <div class="d-flex justify-content-center align-items-center content" style="margin: 1em; ">
            <h3 style="text-align: left;"></h3><a
              class="btn btn-lg btn-primary border border-secondary border"
              role="button" href="/portafolio" style="color: #ffffff !important; font-size: 1.5rem;">Ver
            más</a>
          </div>
        </div>
      </section>
    </main>
  </section>


  <section data-aos="fade-up" class="portfolio-block photography" style="padding: 0 0 1em; box-shadow: 0 0;">
    <main class="page projects-page">
      <section class="portfolio-block projects-cards" style="padding: 1em;">
        <div class="container" style="padding: 0 !important;">
          <hr>
          <div class="heading" style="margin-bottom:30px; !important;">
            <h2 class="text-capitalize" style="font-weight: 500; padding-top: 30px;">Artículos</h2>
          </div>
          <div class="row">
            {% assign posts_filtered = site.posts | sort: "date" %}
            {% for post in posts_filtered %}
            {%if post.categories contains "Article" and post.lang == page.lang and post.showInIndex %}
            <div class="col-md-6 col-lg-4">
              <div class="card border-1">
                <a href="{{ post.id | prepend: site.baseurl }}">
                  <img class="card-img-top scale-on-hover" src={{post.image}} alt={{post.image}}
                       title="{{post.title}}">
                </a>

                <div class="card-body">
                  <h6><a href="{{ post.id | prepend: site.baseurl }}">{{post.title}}</a></h6>
                </div>
              </div>
            </div>
            {% endif%}
            {% endfor %}
          </div>
          <div class="d-flex justify-content-center align-items-center content" style="margin: 2em;">
            <h3 style="text-align: left;"></h3>
            <a class="btn btn-primary btn-lg border border-secondary" role="button" href="/articulos/"
               style="color: #ffffff !important; font-size: 1.5rem;">Ver más</a></div>
        </div>
      </section>
    </main>
  </section>


  <section data-aos="fade-up" class="portfolio-block website gradient" style="font-size: 1.5em;">
    <blockquote class="blockquote" style="text-align: center;">
      <p class="lead mb-0" style="text-shadow: 0 0; font-size: 2em;"><em>“Any fool can write code that a
        computer can understand. </em><br><em>Good programmers write code that humans can understand.”</em></p>
      <footer class="blockquote-footer" style="color: #41474d;"><strong>MARTIN FOWLER</strong></footer>
    </blockquote>
  </section>


  <section class="portfolio-block skills" style="padding-top: 2em !important; padding-bottom: 0.5em !important;">
    <div data-aos="fade-up" class="container">

      <div class="heading" style="margin-bottom:30px; !important;">
        <h2 class="text-capitalize">Sobre mi</h2>
      </div>

      <p style="font-size: 24px; line-height: 36px; text-align: left; opacity: 0.96; font-family: Lato, sans-serif; font-weight: 300;">
        Me recibí de analista en computación en la&nbsp;<a href="https://www.famaf.unc.edu.ar/"><span
          style="text-decoration: underline;">Facultad de Matemática, Astronomía, Física y Computación (FaMAF)</span></a>&nbsp;de
        la Universidad Nacional de Córdoba (UNC).
        <br><br>

        Ingrese en la industria del software en la empresa&nbsp;<a href="https://incluit.com/"><span
          style="text-decoration: underline;">IncluIT</span></a>&nbsp, para el proyecto <a
          href="https://junar.com/"><span
          style="text-decoration: underline;">Junar</span></a>, a comienzos del 2019.
        <br><br>

        Actualmente me encuentro trabajando en la empresa&nbsp;<a href="https://www.ascentio.com.ar/"><span
          style="text-decoration: underline;">Ascentio Technologies S.A</span></a>&nbsp.
        <br><br>

        Amante de la informática, el cine, la literatura, la matemática, la filosofía, el ajedrez, entre otras
        áreas.
        <br><br>

        Comenzando el 2021 como estudiante activo en la academia online <a href="https://platzi.com/"><span
          style="text-decoration: underline;">Platzi</span></a>, podrán
        ver mi perfil con avances e intereses <a href="https://platzi.com/p/neobraf/"><span
          style="text-decoration: underline;">aquí</span></a>.
        <br><br>
      </p>

      <div class="row" data-aos="fade-up">
        <div class="col-md-4">
          <div class="card special-skill-item border-0">
            <div class="card-header bg-transparent border-0"><i class="icon ion-ios-star-outline"></i></div>
            <div class="card-body">
              <h3 class="card-title">Desarrollo de software</h3>
              <p class="card-text">Perfeccionándome en backend y Python en particular. Incrementando mis
                conocimientos en Django, MySQL, Redis, Elastic Search, Celery, entre otros..</p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card special-skill-item border-0">
            <div class="card-header bg-transparent border-0"><i class="icon ion-ios-lightbulb-outline"></i>
            </div>
            <div class="card-body">
              <h3 class="card-title">Resolución de problemas</h3>
              <p class="card-text">Luego de 4 años en la facultad, más otros 2 en la industria, el
                denominador común en estas áreas y en la vida es: enfrentar, analizar y solucionar
                problemas.</p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card special-skill-item border-0">
            <div class="card-header bg-transparent border-0"><i class="icon ion-happy-outline"></i></div>
            <div class="card-body">
              <h3 class="card-title">Curioso</h3>
              <p class="card-text">Me considero una persona muy curiosa, interesado en aprender de
                múltiples áreas. Si bien me quiero especializar en backend, incursiono de a poco en el
                front, el diseño, la arquitectura, negocios, etc.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- parallax image -->
  <div data-bs-parallax-bg="true" style="height:400px; background-image:url('assets/img/home/option55.webp');
background-position:center; background-size:cover;">
  </div>

  <!-- Tecnologías -->
  <div data-aos="fade-up">
    <div class="container">
      <div class="social-icons">

        <div class="row">
          <div class="col-md-12">
            <h3 class="text-center" style="text-align: left; margin: 1em;"><strong>Tecnologías</strong></h3>
          </div>
        </div>

        <div class="row align-items-center justify-content-center">

          <div class="col-lg-2 col-md-4 col-sm-4 col-4" style="margin-bottom: 3em;">
            <div class="thumbnail text-center">
              <a href="https://www.python.org/">
                <img src="assets/img/home/python.svg" alt="Python" title="Python" data-toggle="tooltip"
                     data-placement="top" style="width:50%;">
              </a>
            </div>
          </div>

          <div class="col-lg-2 col-md-4 col-sm-4 col-4" style="margin-bottom: 3em;">
            <div class="thumbnail text-center">
              <a href="https://www.djangoproject.com/">
                <img src="assets/img/home/django.svg" alt="Django" title="Django" data-toggle="tooltip"
                     data-placement="top" style="width:50%;">
              </a>
            </div>
          </div>

          <div class="col-lg-2 col-md-4 col-sm-4 col-4" style="margin-bottom: 3em;">
            <div class="thumbnail text-center">
              <a href="https://www.mysql.com/">
                <img src="assets/img/home/mysql.svg" alt="MySQL" title="MySQL" data-toggle="tooltip"
                     data-placement="top" style="width:50%;">
              </a>
            </div>
          </div>

          <div class="col-lg-2 col-md-4 col-sm-4 col-4" style="margin-bottom: 3em;">
            <div class="thumbnail text-center">
              <a href="https://git-scm.com/">
                <img src="assets/img/home/git.svg" alt="git" title="git" data-toggle="tooltip"
                     data-placement="top"
                     style="width:50%;">
              </a>
            </div>
          </div>

          <div class="col-lg-2 col-md-4 col-sm-4 col-4" style="margin-bottom: 3em;">
            <div class="thumbnail text-center">
              <a href="https://en.wikipedia.org/wiki/Linux">
                <img src="assets/img/home/linux.svg" alt="Linux" title="Linux" data-toggle="tooltip"
                     data-placement="top" style="width:50%;">
              </a>
            </div>
          </div>

          <div class="col-lg-2 col-md-4 col-sm-4 col-4" style="margin-bottom: 3em;">
            <div class="thumbnail text-center">
              <a href="https://en.wikipedia.org/wiki/C_(programming_language)">
                <img src="assets/img/home/c_language.svg" alt="C" title="C" data-toggle="tooltip"
                     data-placement="top"
                     style="width:50%;">
              </a>
            </div>
          </div>

          <div class="col-lg-2 col-md-4 col-sm-4 col-4" style="margin-bottom: 3em;">
            <div class="thumbnail text-center">
              <a href="https://www.elastic.co/">
                <img src="assets/img/home/elastic-elasticsearch.svg" alt="Elasticsearch"
                     title="Elasticsearch"
                     data-toggle="tooltip" data-placement="top" style="width:50%;">
              </a>
            </div>
          </div>

          <div class="col-lg-2 col-md-4 col-sm-4 col-4" style="margin-bottom: 3em;">
            <div class="thumbnail text-center">
              <a href="https://redis.io/">
                <img src="assets/img/home/redis.svg" alt="Redis" title="Redis" data-toggle="tooltip"
                     data-placement="top" style="width:50%;">
              </a>
            </div>
          </div>

          <div class="col-lg-2 col-md-4 col-sm-4 col-4" style="margin-bottom: 3em;">
            <div class="thumbnail text-center">
              <a href="https://auth0.com/">
                <img src="assets/img/home/auth0.svg" alt="Auth0" title="Auth0" data-toggle="tooltip"
                     data-placement="top"
                     style="width:50%;">
              </a>
            </div>
          </div>

          <div class="col-lg-2 col-md-4 col-sm-4 col-4" style="margin-bottom: 3em;">
            <div class="thumbnail text-center">
              <a href="https://www.mongodb.com/">
                <img src="assets/img/home/cib-mongodb.svg" alt="MongoDB" title="MongoDB"
                     data-toggle="tooltip"
                     data-placement="top" style="width:50%;">
              </a>
            </div>
          </div>

          <div class="col-lg-2 col-md-4 col-sm-4 col-4" style="margin-bottom: 3em;">
            <div class="thumbnail text-center">
              <a href="https://en.wikipedia.org/wiki/HTML5">
                <img src="assets/img/home/html-5.svg" alt="HTML" title="HTML" data-toggle="tooltip"
                     data-placement="top"
                     style="width:50%;">
              </a>
            </div>
          </div>

          <div class="col-lg-2 col-md-4 col-sm-4 col-4" style="margin-bottom: 3em;">
            <div class="thumbnail text-center">
              <a href="https://en.wikipedia.org/wiki/CSS">
                <img src="assets/img/home/new/css.svg" alt="CSS" title="CSS" data-toggle="tooltip"
                     data-placement="top"
                     style="width:50%;">
              </a>
            </div>
          </div>

          <div class="col-lg-2 col-md-4 col-sm-4 col-4 " style="margin-bottom: 3em;">
            <div class="thumbnail text-center">
              <a href="https://en.wikipedia.org/wiki/Bash_(Unix_shell)">
                <img src="assets/img/home/new/bash.svg" alt="BASH" title="BASH" data-toggle="tooltip"
                     data-placement="top" style="width:50%;">
              </a>
            </div>
          </div>

          <div class="col-lg-2 col-md-4 col-sm-4 col-4" style="margin-bottom: 3em;">
            <div class="thumbnail text-center">
              <a href="https://jekyllrb.com/">
                <img src="assets/img/home/new/jekyll.svg" alt="Jekyll" title="Jekyll"
                     data-toggle="tooltip"
                     data-placement="top" style="width:50%;">
              </a>
            </div>
          </div>

          <div class="col-lg-2 col-md-4 col-sm-4 col-4" style="margin-bottom: 3em;">
            <div class="thumbnail text-center">
              <a href="https://www.jetbrains.com/pycharm/">
                <img src="assets/img/home/new/pycharm.svg" alt="Pycharm" title="Pycharm"
                     data-toggle="tooltip"
                     data-placement="top" style="width:50%;">
              </a>
            </div>
          </div>

          <div class="col-lg-2 col-md-4 col-sm-4 col-4" style="margin-bottom: 3em;">
            <div class="thumbnail text-center">
              <a href="https://getbootstrap.com/">
                <img src="assets/img/home/new/bootstrap.svg" alt="Bootstrap" title="Bootstrap"
                     data-toggle="tooltip"
                     data-placement="top" style="width:50%;">
              </a>
            </div>
          </div>

          <div class="col-lg-2 col-md-4 col-sm-4 col-4" style="margin-bottom: 3em;">
            <div class="thumbnail text-center">
              <a href="https://flask.palletsprojects.com/en/1.1.x/">
                <img src="assets/img/home/new/flask.svg" alt="Flask" title="Flask" data-toggle="tooltip"
                     data-placement="top" style="width:50%;">
              </a>
            </div>
          </div>

          <div class="col-lg-2 col-md-4 col-sm-4 col-4" style="margin-bottom: 3em;">
            <div class="thumbnail text-center">
              <a href="https://www.docker.com/">
                <img src="/assets/img/home/docker.svg" alt="Docker" title="Docker" data-toggle="tooltip"
                     data-placement="top" style="width:50%;">
              </a>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>

  <!-- Perfiles de contacto -->
  <div data-aos="fade-up">
    <div class="container">
      <hr>
      <div class="social-icons justify-content-center" style="padding: 0 0 1em 0;">

        <div class="row">
          <div class="col-md-12">
            <h3 class="text-center" style="text-align: left; margin: 1em;"><strong>Perfiles</strong></h3>
          </div>
        </div>

        <div class="row">

          <div class="col-lg-3 col-md-6 col-sm-6 col-6" style="margin-bottom: 3em;">
            <a href="https://www.linkedin.com/in/nahuelbrandan/">
              <div class="thumbnail text-center">
                <img src="assets/img/home/linkedin.svg" alt="LinkedIn" data-toggle="tooltip"
                     data-placement="top"
                     title="LinkedIn" style="width:50%;">
              </div>
            </a>
          </div>

          <div class="col-lg-3 col-md-6 col-sm-6 col-6" style="margin-bottom: 3em;">
            <a href="https://stackoverflow.com/users/6125910/nahuel-brandan">
              <div class="thumbnail text-center">
                <img src="assets/img/home/stackoverflow.svg" alt="Stackoverflow" title="Stackoverflow"
                     data-toggle="tooltip" data-placement="top"
                     style="width:50%;">
              </div>
            </a>
          </div>

          <div class="col-lg-3 col-md-6 col-sm-6 col-6" style="margin-bottom: 3em;">
            <a href="https://github.com/nahuelbrandan">
              <div class="thumbnail text-center">
                <img src="assets/img/home/github.svg" alt="Github" title="Github" data-toggle="tooltip"
                     data-placement="top" style="width:50%;">
              </div>
            </a>
          </div>

          <div class="col-lg-3 col-md-6 col-sm-6 col-6" style="margin-bottom: 3em;">
            <a href="https://platzi.com/p/neobraf/">
              <div class="thumbnail text-center">
                <img src="assets/img/home/platzi.svg" alt="Platzi - Educación online"
                     title="Platzi - Educación online"
                     data-toggle="tooltip" data-placement="top"
                     style="width:50%;">
              </div>
            </a>
          </div>

          <div class="col-lg-3 col-md-6 col-sm-6 col-6 mx-auto" style="margin-bottom: 3em;">
            <a href="https://leetcode.com/nahuelbrandan/">
              <div class="thumbnail text-center">
                <img src="assets/img/home/leetcode.svg" alt="LeetCode" title="LeetCode"
                     data-toggle="tooltip" data-placement="top"
                     style="width:50%;">
              </div>
            </a>
          </div>

          <div class="col-lg-3 col-md-6 col-sm-6 col-6 mx-auto" style="margin-bottom: 3em;">
            <a href="https://www.facebook.com/nahuelbrandan123/">
              <div class="thumbnail text-center">
                <img src="assets/img/home/facebook.svg" alt="Facebook" title="Facebook"
                     data-toggle="tooltip" data-placement="top"
                     style="width:50%;">
              </div>
            </a>
          </div>

        </div>
      </div>
    </div>
  </div>

  <!-- Contacto -->
  <section data-aos="fade-up" class="portfolio-block block-intro website gradient"
           style="font-size: 1.3em; padding: 50px;">
    <div class="container">
      <div class="about-me">
        <p>¿Te interesa mi perfil y crees que podríamos realizar un proyecto juntos? ¡Hablemos!</p>
        <a class="btn btn-lg btn-primary border bold" role="button" style="font-size: 1.5rem;"
           href="/contacto/">Contacto</a>
      </div>
    </div>
  </section>

</main>
