---
layout: default
permalink: /portfolio/
---

<div class="teaserimage">
  <div class="teaserimage-image" {% if site.cover %}style="background-image: url({{ site.cover | prepend: site.baseurl }})" {% endif %}>
    Teaser Image
  </div>
</div>

<header class="blog-header">
  {% if site.author_image %}
    <a class="blog-logo" href="{{ '/' | absolute_url }}" style="background-image: url('{{ site.author_image | prepend: site.baseurl }}');">{{ site.title }}</a>
  {% endif %}
  <h1 class="blog-title">{{ site.title }}</h1>
  <!--<h2 class="blog-description">{{ site.description }}</h2>-->
  <div class="custom-links">
    {% for social in site.social %}
      {% if social.url %}
        <a class="icon-{{ social.icon }}" href="{{ social.url }}" {% if social.desc %} title="{{ social.desc }}" {% endif %} target="_blank">
          <i class="fa fa-{{ social.icon }} fa-2x" style="color: #6a6a6a"></i>
        </a>
        &nbsp;·&nbsp;
      {% endif %}
    {% endfor %}
    
    <a href={{"/about/" | prepend: site.baseurl}} title="Sobre mi">
      <i class="fa fa-user fa-2x" style="color: #6a6a6a"></i>
    </a>&nbsp;·&nbsp;

    <a href={{"/portfolio/" | prepend: site.baseurl}} title="Portafolio">
      <i class="fa fa-briefcase fa-2x" style="color: #6a6a6a"></i>
    </a>&nbsp;·&nbsp;
    
    <a href={{"/articles/" | prepend: site.baseurl}} title="Artículos">
      <i class="fa fa-newspaper-o fa-2x" style="color: #6a6a6a"></i>
    </a>&nbsp;·&nbsp;

    <a href={{"/archive/" | prepend: site.baseurl}} title="Archivos">
      <i class="fa fa-archive fa-2x" style="color: #6a6a6a"></i>
    </a>&nbsp;·&nbsp;

    <a href={{"/" | prepend: site.baseurl}} title="Home">
      <i class="fa fa-home fa-2x" style="color: #6a6a6a"></i>
    </a>
  </div>
</header>

<div class="container">
  <p class="category_text">Portafolio:</p>
  <div class="row">
    {% for category in site.categories %}
      {% if category[0] == "Portfolio" %}
        {% for post in category[1] %}
          <div class="col-md-4">
            <div class="thumbnail">
              <a href="{{ post.url | prepend: site.baseurl }}" itemprop="url">
                <img src="/assets/images/blank.png" data-echo={{post.image}} alt={{post.image}} title="{{post.title}}">
                <h3>{{post.title}}</h3>
              </a>
              <div class="post-meta">
                <b>
                  {% for tag in post.tags %}
                    {{tag}}
                  {%endfor%}
                </b>
              </div>
            </div>
          </div>
        {% endfor %}
      {% endif%}
    {% endfor %}
  </div>
</div>
