<!-- Start: Footer Clean -->
<div class="footer-clean">
  <footer>
    <div class="container">
      <hr>
      <div class="row justify-content-center">
        <!-- Start: Services -->
        <div class="col-sm-3 col-md-3 item">
          <h3>Categories</h3>
          <ul>
            <li><a href="/portfolio/">Portfolio</a></li>
            <li><a href="/articles/">Articles</a></li>
            <li><a href="/blog/">Blog</a></li>
            <li></li>
          </ul>
        </div><!-- End: Services -->
        <!-- Start: About -->
        <div class="col-sm-3 col-md-3 item">
          <h3>About</h3>
          <ul>
            <li></li>
            <li><a href="/contact/">Contact</a></li>
            {% if page.layout != 'post' %}
            <li><a href="/gallery/">Gallery</a></li>
            {% endif %}
            <li><a href="https://drive.google.com/file/d/1yCm7Zh93oYErIYL5zqEfrgdA1Ev8Lzmm/view?usp=sharing">CV</a></li>
          </ul>
        </div><!-- End: About -->
        <!-- Start: Social Icons -->
        <div class="col-sm-6 col-md-6 col-lg-6 item social">
          <a href="https://linkedin.com/in/nahuelbrandan/"><i class="icon ion-social-linkedin"></i></a>
          <a href="https://github.com/nahuelbrandan"><i class="icon ion-social-github"></i></a>
          <a href="https://stackoverflow.com/users/6125910/nahuel-brandan"><i class="fab fa-stack-overflow"></i></a>
          <p class="copyright">Nahuel Brandán © 2021</p>
        </div><!-- End: Social Icons -->
      </div>
    </div>
  </footer>
</div><!-- End: Footer Clean -->
