<!--suppress HtmlRequiredTitleElement, HtmlUnknownTarget -->
<head>
  {% include head.html %}
  <link
     href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400;1,700&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap"
     rel="stylesheet">
  <link rel="stylesheet" type="text/css" media="screen" href="{{ '/assets/css/main.css' | prepend: site.baseurl }}"/>
  <link rel="stylesheet" type="text/css" media="screen" href="{{ '/assets/css/prism.css' | prepend: site.baseurl }}"/>
</head>
