<!--suppress HtmlRequiredTitleElement, HtmlUnknownTarget -->
<head>
  <!--suppress HtmlUnknownTarget -->
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
  
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <link rel="manifest" href="{{ '/manifest.json'  | prepend: site.baseurl  }}">
  <meta name="theme-color" content="#2198FD"/>
  
  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
  <meta property="og:title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.meta_title }}{% endif %}"/>
  
  {% if page.thumbnail %}
  <meta property="og:image" content="{{ page.thumbnail }}">
  {% else %}
  <meta property="og:image" content="{{ '/assets/img/site_thumbnail.png' | prepend: site.baseurl }}">
  {% endif %}
  
  {% if page.excerpt %}
  <meta property="og:description" content="{{ page.excerpt | strip_html | strip_newlines | truncate: 200 }}"/>
  {% elsif site.description %}
  <meta property="og:description" content="{{ site.description | strip_html | strip_newlines | truncate: 200 }}"/>
  {% endif %}
  
  <link rel="canonical" href="{{ site.url }}{{ page.url | replace:'index.html',''}}">
  <meta name="description"
        content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 200 }}{% else %}{{ site.description }}{% endif %}"/>
  
  <meta name="HandheldFriendly" content="True"/>
  <meta name="MobileOptimized" content="320"/>
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
  <meta property="og:site_name" content="{{ site.title }}"/>
  <meta name="author" content="{{ site.author }}">
  
  {% if page.date %}
  <meta property="article:published_time" content="{{ page.date | date_to_xmlschema }}">
  {% endif %}
  
  <meta property="og:type" content="website">
  <meta name="twitter:title" content="Nahuel Brandán - Portfolio &amp; Blog - Desarrollo de Software.">
  <meta name="twitter:description"
        content="Sitio web personal, con muestra de portfolio &amp; artículos relacionados con el desarrollo de software.">
  <meta name="twitter:image" content="{{ /assets/img/site_thumbnail.png' | prepend: site.baseurl }}">
  
  <!--  favicon   -->
  <link rel="apple-touch-icon" sizes="57x57"
        href="{{ /assets/img/favicon/apple-icon-57x57.webp' | prepend: site.baseurl }}">
  <link rel="apple-touch-icon" sizes="60x60"
        href="{{ /assets/img/favicon/apple-icon-60x60.webp' | prepend: site.baseurl }}">
  <link rel="apple-touch-icon" sizes="72x72"
        href="{{ /assets/img/favicon/apple-icon-72x72.webp' | prepend: site.baseurl }}">
  <link rel="apple-touch-icon" sizes="76x76"
        href="{{ /assets/img/favicon/apple-icon-76x76.webp' | prepend: site.baseurl }}">
  <link rel="apple-touch-icon" sizes="114x114"
        href="{{ /assets/img/favicon/apple-icon-114x114.webp' | prepend: site.baseurl }}">
  <link rel="apple-touch-icon" sizes="120x120"
        href="{{ /assets/img/favicon/apple-icon-120x120.webp' | prepend: site.baseurl }}">
  <link rel="apple-touch-icon" sizes="144x144"
        href="{{ /assets/img/favicon/apple-icon-144x144.webp' | prepend: site.baseurl }}">
  <link rel="apple-touch-icon" sizes="152x152"
        href="{{ /assets/img/favicon/apple-icon-152x152.webp' | prepend: site.baseurl }}">
  <link rel="apple-touch-icon" sizes="180x180"
        href="{{ /assets/img/favicon/apple-icon-180x180.webp' | prepend: site.baseurl }}">
  <link rel="icon" type="image/png" sizes="192x192"
        href="{{ /assets/img/favicon/android-icon-192x192.webp' | prepend: site.baseurl }}">
  <link rel="icon" type="image/png" sizes="32x32"
        href="{{ /assets/img/favicon/favicon-32x32.webp' | prepend: site.baseurl }}">
  <link rel="icon" type="image/png" sizes="96x96"
        href="{{ /assets/img/favicon/favicon-96x96.webp' | prepend: site.baseurl }}">
  <link rel="icon" type="image/png" sizes="16x16"
        href="{{ /assets/img/favicon/favicon-16x16.webp' | prepend: site.baseurl }}">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="msapplication-TileImage" content="{{ /assets/img/favicon/ms-icon-144x144.webp' | prepend: site.baseurl }}">
  <meta name="theme-color" content="#ffffff">
  
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}"/>
  <link rel="shortcut icon" href="{{ '/assets/img/logo.webp' | prepend: site.baseurl }}"/>
  <script src="{{ '/assets/js/jquery-3.5.1.min.js' | prepend: site.baseurl  }}" type="text/javascript"></script>
  
  <link rel="stylesheet"
        href="{{ '/assets/bootstrap/css/bootstrap.min.css?h=901fecf2137eadd431c922473ae63856' | prepend: site.baseurl  }}">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.0/css/all.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/aos/2.2.0/aos.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/pikaday/1.6.1/css/pikaday.min.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:300,400,700">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
  <link rel="stylesheet" href="{{ '/assets/css/styles.min.css' | prepend: site.baseurl }}">
  <link rel="stylesheet" href="{{ '/assets/css/footer.css' | prepend: site.baseurl }}">

  <script data-ad-client="ca-pub-6359479187978587" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
</head>
