<!--suppress HtmlUnknownTarget -->
<nav class="navbar navbar-dark navbar-expand-lg fixed-top bg-white portfolio-navbar gradient">
  <div class="container"><a class="navbar-brand logo" href="/">Nahuel Brandán</a>
    <button data-toggle="collapse" class="navbar-toggler" data-target="#navbarNav"><span class="sr-only">Toggle navigation</span><span
       class="navbar-toggler-icon"></span></button>
    <div class="collapse navbar-collapse"
         id="navbarNav">
      <ul class="nav navbar-nav ml-auto">
        <li class="nav-item" role="presentation"><a class="nav-link active" href="/">Home</a></li>
        <li class="nav-item" role="presentation"><a class="nav-link" href="/portfolio/">Portfolio</a></li>
        <li class="nav-item" role="presentation"><a class="nav-link" href="/articles/">Artículos</a></li>
        <li class="nav-item" role="presentation"><a class="nav-link"
                                                    href="https://www.canva.com/design/DADRBUtQDN8/awHa-Wdly-uiRqTcGcjyqQ/view?utm_content=DADRBUtQDN8&amp;utm_campaign=designshare&amp;utm_medium=link&amp;utm_source=sharebutton#1">CV</a>
        </li>
        <li class="nav-item"
            role="presentation"><a class="nav-link" href="/contact/">Contacto</a></li>
      </ul>
    </div>
  </div>
</nav>
