<!--suppress HtmlUnknownTarget -->
<nav class="navbar smart-scroll navbar-dark navbar-expand-lg fixed-top bg-white portfolio-navbar gradient">
  <div class="container"><a class="navbar-brand logo" href="{% if page.lang == 'en'%}/en{% else %}/{% endif %}">Nahuel Brandán</a>
    <button data-toggle="collapse" class="navbar-toggler" data-target="#navbarNav"><span class="sr-only">Toggle navigation</span><span
       class="navbar-toggler-icon"></span></button>
    <div class="collapse navbar-collapse"
         id="navbarNav">
      <ul class="nav navbar-nav ml-auto">

        {% assign p=site.pages | where:"pageid", 'index' | where:"lang", page.lang | first %}
        <li class="nav-item lang" role="presentation">
          <a href="{{ p.url }}" class="nav-link {{ p.lang }} {% if page.lang == lang %}text-uppercase{% endif %}">Home</a>
        </li>
        
        {% assign p=site.pages | where:"pageid", 'portfolio' | where:"lang", page.lang | first %}
        <li class="nav-item lang" role="presentation">
          <a href="{{ p.url }}" class="nav-link {{ p.lang }} {% if page.lang == lang %}text-uppercase{% endif %}">{{ p.title }}</a>
        </li>

        {% assign p=site.pages | where:"pageid", 'articles' | where:"lang", page.lang | first %}
        <li class="nav-item lang" role="presentation">
          <a href="{{ p.url }}" class="nav-link {{ p.lang }} {% if page.lang == lang %}text-uppercase{% endif %}">{{ p.title }}</a>
        </li>

<!--        {% assign p=site.pages | where:"pageid", 'blog' | where:"lang", page.lang | first %}-->
<!--        <li class="nav-item lang" role="presentation">-->
<!--          <a href="{{ p.url }}" class="nav-link {{ p.lang }} {% if page.lang == lang %}text-uppercase{% endif %}">{{ p.title }}</a>-->
<!--        </li>-->

        {% assign p=site.pages | where:"pageid", 'CV' | where:"lang", page.lang | first %}
        <li class="nav-item lang" role="presentation">
          <a href="{{ p.url }}" target="_blank" class="nav-link {{ p.lang }} {% if page.lang == lang %}text-uppercase{% endif %}">{{ p.title }}</a>
        </li>

        {% assign p=site.pages | where:"pageid", 'contact' | where:"lang", page.lang | first %}
        <li class="nav-item lang" role="presentation">
          <a href="{{ p.url }}" class="nav-link {{ p.lang }} {% if page.lang == lang %}text-uppercase{% endif %}">{{ p.title }}</a>
        </li>
        
        {% if page.id %}
          <!-- POSTS MULTILANGUAGE -->
          {% assign posts=site.posts | where:"ref", page.ref | sort: 'path' %}
            {% for post in posts %}
            <li class="nav-item lang" role="presentation">
              <a href="{{ post.url }}" class="nav-link {{ post.lang }} {% if post.lang == page.lang %}text-uppercase{% endif %}">{{ post.lang }}</a>
            </li>
            {% endfor %}
        {% else %}
            {% for lang in site.languages %}
            {% assign p=site.pages | where:"pageid", page.pageid | where:"lang", lang | sort: 'path' | first %}
            <li class="nav-item lang" role="presentation">
              <a href="{{ p.url }}" class="nav-link {{ p.lang }} {% if page.lang == lang %}text-uppercase{% endif %}">{{ lang }}</a>
            </li>
            {% endfor %}
        {% endif %}
      
      </ul>
    </div>
  </div>
</nav>
