<!DOCTYPE html>
<html lang="es-AR">
  {% include head_post.html %}
  <body itemscope itemtype="http://schema.org/Article">
    <main class="content" role="main">
      <article class="post">
        <div class="noarticleimage">
          <div class="post-meta">
            <h1 class="post-title">{{ page.title }}</h1>
            <div class="cf post-meta-text">
              <span class="post-date">{% include date_ge.html date = post.date %}</span>
            </div>
          </div>
        </div>
        <br>

        <section class="post-content">
          {{content}}
        </section>

        {% if page.comments %}
          <div id="disqus_thread"></div>
          <script>

            var disqus_config = function () {
            this.page.url = post.url;
            this.page.identifier = post.identifier;
            };

            (function() { // DON'T EDIT BELOW THIS LINE
            var d = document, s = d.createElement('script');
            s.src = 'https://www-nahuelbrandan-com.disqus.com/embed.js';
            s.setAttribute('data-timestamp', +new Date());
            (d.head || d.body).appendChild(s);
            })();
            </script>
            <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
        {% endif %}
      </article>
    </main>

    {% include lazyload.html %}
    {% include javascripts_post.html %}
    <script src="/assets/js/prism.js"></script>
    <script id="dsq-count-scr" src="//www-nahuelbrandan-com.disqus.com/count.js" async></script>
  </body>
</html>
