<!DOCTYPE html>
<html lang="es-AR">
{% include head_post.html %}
<body itemscope itemtype="http://schema.org/Article">
{% include navbar.html %}

<main>
  <div class="content_header">
    <article class="post">
      <div class="post-meta">
        {% if page.image %}
        <img class="post-img" src={{ page.image }} alt={{ page.title }}>
        
        <div class="cf post-meta-text">
          <span class="post-date">{% include date_ge.html date = post.date %}</span>
        </div>
        {% endif %}
        
        {% if page.image == blank %}
        <div class="cf post-meta-text date_in_post_with_no_image">
          <span class="post-date">{% include date_ge.html date = post.date %}</span>
        </div>
        {% endif %}
        
        <p class="post-title">{{ page.title }}</p>
      
      </div>
    </article>
  </div>
  
  <div class="content">
    <article class="post">
      
      <section class="post-content">
        {{content}}
      </section>
      
      {% if page.tags %}
      Tags:
      <small>
        {% for tag in page.tags %}
        {{tag}}
        {% if tag != page.tags.last %}, {% else %}.{% endif %}
        {% endfor %}
      </small>
      {% endif %}
      
      {% if page.comments %}
      <div id="disqus_thread"></div>
      <script>

          var disqus_config = function () {
              this.page.url = post.id;
              this.page.identifier = post.id;
          };

          (function () { // DON'T EDIT BELOW THIS LINE
              var d = document, s = d.createElement('script');
              s.src = 'https://www-nahuelbrandan-com.disqus.com/embed.js';
              s.setAttribute('data-timestamp', +new Date());
              (d.head || d.body).appendChild(s);
          })();
      </script>
      <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by
        Disqus.</a></noscript>
      {% endif %}
      
      <section data-aos="fade-up" class="portfolio-block projects-cards" style="padding: 0 0 1em;">
        {% if page.categories contains 'Portfolio' %}
        <h3 class="text-center" style="text-align: left; margin: 2em 1em;">Otras experiencias</h3>
        {% elsif page.categories contains 'Article' %}
        <h3 class="text-center" style="text-align: left; margin: 2em 1em;">Otros artículos</h3>
        {% else %}
        <h3 class="text-center" style="text-align: left; margin: 2em 1em;">Otras entradas</h3>
        {% endif %}
        
        <div class="container">
          <div class="row">
            {% if page.categories contains 'Portfolio' %}
            {% assign posts = site.posts | where:"categories", "Portfolio" | where_exp:"post", "post.id != page.id" |
            sample:3 %}
            {% elsif page.categories contains 'Article' %}
            {% assign posts = site.posts | where:"categories", "Article" | where_exp:"post", "post.id != page.id" |
            where_exp:"post", "post.title != 'Hola Mundo!'" | sample:3 %}
            {% else %}
            {% assign posts = site.posts | where:"categories", "Blog" | where_exp:"post", "post.id != page.id" |
            sample:3 %}
            {% endif %}
            
            {% for post in posts %}
            
            <div class="col-md-6 col-lg-4">
              <div class="card border-0">
                {%if post.image%}
                <a href="{{ post.url | prepend: site.baseurl }}">
                  <img class="card-img-top scale-on-hover" src={{post.image}} alt={{post.image}}
                       title="{{post.title}}">
                </a>
                {% endif %}
                
                <div class="card-body">
                  <a href="{{ post.url | prepend: site.baseurl }}">{{post.title}}</a>
                </div>
              </div>
            </div>
            
            {% endfor %}
          </div>
        </div>
      </section>
    </article>
  </div>
  {% include footer.html %}
</main>
{% include lazyload.html %}
{% include javascripts_post.html %}
<script src="/assets/js/prism.js"></script>
<script id="dsq-count-scr" src="//www-nahuelbrandan-com.disqus.com/count.js" async></script>
</body>
</html>
